* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: whitesmoke;
}

/* Header/logo Title */
.header {
  padding: 20px;
  text-align: center;
  background: darkred;
}

/* Footer */
.footer {
  padding: 12px 12px 0px 12px;
  text-align: center;
  background: rgb(40, 40, 40);
  color: white;
}
.quote {
  display: none;
}

.content {
  font-size: xx-large;
  color: white;
}

.citation {
  font-style: italic;
  color: yellow;
  font-size: large;
  text-align: right;
}

.animated {
  background-repeat: no-repeat;
  background-position: left top;
  padding-top:20px;
  margin-bottom:10px;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
     opacity: 0;
     -webkit-transform: translateY(-20px);
  }
  100% {
     opacity: 1;
     -webkit-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
     opacity: 0;
     transform: translateY(-20px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.btn {
  display: inline-block;
  background: blue;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}